<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> 
</head>
<body>

    <header>
        <div class="main-header">
            <div class="main-header-logo-search">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo">
                </div>
                        
                <div class="search">
                    <input type="text" placeholder="Buscar productos, marcas" >
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="main-header-aviso-burguer">
                <div class="aviso">
                    <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                </div>

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="main-header-verticalMenue">
            <nav class="menuIzq">
                <ul>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#tiendas">Tiendas Oficiales</a></li>
                    <li><a href="#vender">Vender</a></li>
                    <li><a href="#ayuda">Ayuda</a></li>
                </ul>
            </nav>

            <nav>
                <ul class="menuDch">
                    <li><a href="register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </div>
    <form action="login.html" method="POST" class="login">
        <h3>Ingreso</h3>
        <br>
        <label for="usuario">Usuario</label>
            <input type="text" name="usuario">
        <label for="pass">Contraseña</label>
            <input type="password" name="pass">
        <button type="submit"><a href="home">Enviar</a></button>
    </form>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </div>
    <footer>
        <div class="down">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        <h3 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </div>
    </footer>
</body>
</html>