body {
    background-color: #EAC926;

}
header {
    font-family: 'Roboto', sans-serif;
}

header img {
    margin: 25px 0px 25px 40px;
    width: 150px;
}

.search {
    text-align: left;
    margin-left: 25px;
}

.aviso{
    text-align: center;
}

.aviso p {
    font-size: 12px;
}

 ul {
    padding: 0px;
} 
header ul li {
    list-style: none;
}

header ul li a{
    text-decoration:none;
    color: black;
}

section p {
    font-size: 24px;
}
section img {
    width: 360px;
    text-align: center;
}
.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
}
section article h3 {
    font-size: 16px;
}

.burger-menu {
    text-align:center;
    padding: 5px;
    height: 17px;
    width: 20px;
    margin: 5px auto;
    background-color: #1259c3;
    color: white;
    border-radius: 3px;
 }

 footer {
     background-color: white;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     width: 360px;
 }
 footer i{
     color: #1259c3;
     font-size: 2em;
     margin-bottom: 10px;
     margin-top: 50px;
 }
 footer h3 {
    margin: 0px;
    font-size: 16px;
    color: #666;
 }
 footer p {
    margin: 0px;
    color: #ebebeb;
 }