*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}    

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

p   {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
}

/*Cabecera - Inicio*/


.main-header {
    margin: 15px;
}

.main-header-logo-search  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   flex-grow: 5;
}

.logo img{
    width: 150px;
}

.search {
    flex-grow: 5;
    text-align: right;
    position: relative; 
}

.search input {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius:  5px;
    border-style: hidden;

}

.search button {
    position: absolute;
    padding: 5px;
    top: 5px;
    right: 5px;
    border: none;
    background-color: white;
}

.main-header-aviso-burguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aviso {
    flex-grow: 5;
    font-size: 12px;
    text-align: center;
    padding: 15px;
}

.burger-menu {
    flex-grow: 5;
    height: 30px;
    width: 30px;
    margin: 5px auto;
    padding: 7px;
    background-color: #1259c3;
    color: white;
    border-radius: 3px;
 }

.main-header-verticalMenue {
    display: none;
}
/*Cabecera - Fin*/

.banner {
    width: auto;
}
.banner img {
    width: 100%;
}

.banner p {
    margin: 15px;
    font-size: 24px;
    color: gray;
}

/*main - inicio*/
main {
    background-color: #ebebeb;

}

article img {
    width: 100%;

}

section {
    width: 90%;
    margin: auto;
}

section p {
    font-size: 24px;
    margin: 10px auto;
}

article {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 0px rgb(100 100 100);
    transition: box-shadow 1s;

}

article:hover {
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.articulo{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
}



.precio-descuento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio {
    font-size: 18px;
    flex-grow: 3;
}

.descuento {
    font-size: 16px;
    color: rgb(60, 185, 60);
    flex-grow: 7;
}

section article h3 {
    font-size: 16px;
    display: none;

} 

.icono {
    color: rgb(60, 185, 60);
    border: 1px solid rgb(60, 185, 60);
    border-radius: 50%;
    padding: 10px ; 
    position: absolute;
    top: -20px;
    right: 20px ;
    transform: rotate(0deg);
    transition: transform 1s;
    
}

.icono:hover {
    transform: rotate(-90deg);
}

/*main - fin*/
/*Registro - Inicio*/

.formulario-registro {
    background-color: #ebebeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    line-height: 30px;
    width: 100%;
}

.formulario-registro input {
    border-style: none;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 30px;
}

.nacimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nacimiento label {
    margin-top: 10px;
    align-self: flex-start;
}

.nacimiento input {
    margin: 0px;
}

.perfil {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.perfil h4 {
    align-self: flex-start;
    margin-top: 10px;
}

.perfil input {
    margin-top: 0px;
    height: initial;
}

.radio {
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: 50px;
}

.intereses {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intereses h4 {
    align-self: flex-start;
    margin-top: 10px;
}

.intereses input {
    margin-top: 0px;
    height: initial;
    width: 20%;
}

.checks {
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: 50px;
}

.foto {
    display: flex;
    flex-direction: column;
}
.foto label {
    text-align: left;
    margin-top: 10px;
}

.foto input {
    padding: 0px;
    margin: 5px 0px;
    height: 30px;
}

.formulario-registro button{
    width: 100px;
    height: 30px;
    margin: 20px 30px;
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    border-style: none;
    transition: background-color 1s;
}

.formulario-registro button:hover {
    background-color: #0022AA;
}


.formulario-registro a {
    color: white;
}
/*Registro - fin*/

/*Login - Inicio*/

.login {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.login input {
    width: 80%;
    border: none;
    border-radius: 5px;
    height: 25px;
    padding: 10px;
}

.login button{
    width: 80%;
    height: 30px;
    margin: 20px 30px;
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    border-style: none;
    transition: background-color 1s;
}

.login button:hover {
    background-color: #0022AA;
}

.login a {
    color: white;
}
/*Login - Fin*/

/*Footer - Inicio*/
footer {
    background-color: #ebebeb;
    padding-top: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: -10px auto;
}

.mediosPagos {
    background-color: white;
    text-align: center;
    margin: auto 10px;
    padding: 15px;
}

footer i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 35px; 
}

footer h3 {
   margin: 2px;
   font-size: 16px;
   color: #666;
}

footer p {
   margin: 2px;
   color: #666;
   font-size: 12px;
   margin: auto 35px ;

}
.copy {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}

/*Footer - Fin*/

/*Inicio - mediaQuery mobile*/

@media (min-width: 361px){
    .main-header-verticalMenue {
        display: flex;
        font-size: 10px;
        margin: 10px auto;
    }
 
    .menuIzq {
        flex-grow: 7;
   }
   
    .menuDch {
        flex-grow: 3;
    }

    .menuDch .lista {
        justify-content: flex-end;
        margin-right: 15px;
    }
    
    .lista {
        display: flex;
    }

    .lista li {
        margin-left: 15px;
    }

    .burger-menu {
        display: none;
    }

   
    .articulo:hover h3{
        
        display: initial;

    }

    section article h3 {
        display: none;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    article {
        width: 45%;
    }

 }

 /*Fin MediaQuery Mobile*/

 /*Inicio MediaQuery Desktop*/
 @media (min-width: 768px){
     .main-header {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .main-header-logo-search {
         flex-grow: 6;
     }

     .main-header-aviso-burguer {
         flex-grow: 4;
     }

     .search input {
         margin-left: 5px;
     }

     .aviso {
         align-self: flex-end;
     }

     article {
         width: 20%;
     }

     .precio, .descuento {
         font-size: 14px;
     }

    .mediosPagos {
        display: flex;
        flex-direction: column;
    }

    .opciones {
        display: flex;
    }

    .opciones i:hover {
        color: #EAC926;
    }
    
    .mediosPagos h3 {
        align-self: flex-start;
    }


}
 /*Fin MediaQuery Desktop*/